.content{
    width: 370px;
  
}
.infoLabel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}
.boldText{
    font-family: 'Arimo', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.text{
    font-family: 'Arimo', sans-serif;
    font-size: 12px;
}
.infoText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}