.content {
    width: 340px;
    margin: auto;
}

.firstInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 29px;
    margin-bottom: 15px;
}
.textNumber{
    border-left: 1px solid #E7EAEE;
    width: 25%;
}
.textNumberLast{
    width: 25%;
}
 .text{
    font-family:'Arimo', sans-serif;
    font-size: 12px;
    color: #54585E;
    text-align: center;
}
.firstInfo .number{
    margin-top: 12px;
    text-align: center;
    font-family:'Arimo', sans-serif;
    font-size: 14px;
    color: #1F2022;
}
.secondInfo{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin:  auto;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #E7EAEE;
    margin-bottom: 10px;
}
input{
    width: 200px;
    border: 1px solid #E7EAEE;
    height: 32px;
    border-radius: 5px;
    color: #1F2022;
    font-family:'Arimo', sans-serif;
    font-size: 14px;
    padding-right: 10px;
}
.secondInfo .text::before{
    content: '';
    border: 1px solid #F89C13;
    border-radius: 50%;
    background-color: #F89C13;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    }
.secondInfo .text {
        display: flex;
        align-items: center;
    }

.forthInfo{
    display: flex;
    justify-content: space-between;
    width: 340px;
    margin:  auto;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #E7EAEE;
    margin-bottom: 10px;
}
.fivethInfo{
    display: flex;
    flex-direction: column;
    width: 340px;
    margin:  auto;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #E7EAEE;
    margin-bottom: 10px;
}


 .fivethInfo .text{
    font-family:'Arimo', sans-serif;
    font-size: 12px;
    color: #54585E;
    align-self: flex-start;
    margin-bottom: 10px;
}
.check {
    padding-top: 10px;
    border-top: 1px solid #E7EAEE;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.check .text{
    padding-right: 15px;
}