*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    align-items: center;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1410px;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
}
.header h3{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3E4A56;
}
.inputGroupe{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    border:#E7EAEE solid 0.5px;
    min-width:475px ;
    display: flex;
    flex-direction: row;
}
.header input{
    outline: none;
    height: 32px;
    width: 85%;
    border: none;
}
.header button {
    width: 15%;
    outline: none;
    cursor: pointer;
    border: none;
    height: 32px;
    background-color: #FFFFFF;
    color: #939CAA;
    font-family:'Arimo', sans-serif;
    font-size: 14px;
}
.header nav{
    width: 282px;
    height: 34px;
}
.header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    height: 100%;
}
.header nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav ul li a{
    text-decoration: none;
    color: #3E4A56;
    font-family:'Arimo', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.personInfo{
    display: inherit;
    color: #3E4A56;
    font-family: 'Arimo', sans-serif;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    width: 159px;
    justify-content: space-between;
}
.personInfo button{
    border:none;
    background: none;
    color: #3E4A56;
    cursor: pointer;
}
