textarea{
    resize: none;
    color: #1F2022;
    font-family:'Arimo', sans-serif;
    font-size: 12px;
    border: 1px solid #E7EAEE;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 340px;
    outline: none;
    overflow: hidden;
    height: fit-content;
}